* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 45px;
    position: fixed;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

nav ul .brand {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 200px;
}

nav ul .brand img {
    width: 35px;
    margin-right: 10px; 
}

nav ul .togle-li {
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    width: calc(100% - 200px);
}

nav ul .togle-li ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav .togle-li .medsos {
    display: flex;
    width: 650px;
    justify-content: space-around;
}

nav .togle-li .service {
    display: flex;
    width: 650px;
    justify-content: space-around;
}

nav .button {
    display: none;
}

#togle {
    position: fixed;
    top: -1000px;
}

@media (max-width: 1025px) {
nav ul .togle-li ul {
    display: none;
}

#togle:checked~ .ul-togle {
    display: flex;
    position: fixed;
    flex-direction: column;
    top:0px;
    right: 0;
    height:100%;
    width: 50%;
    background-color: black;
}

nav .togle-li .medsos {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav .togle-li .service {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


nav .button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#togle:checked~.button .x-togle {
    display: flex;
    position: relative;
    z-index: 2;
}

#togle:checked~.button .y-togle {
    display: none;
}

.button .x-togle {
    display: none;
}

}